@import './variables.scss';

.block {
    padding: 5px;
    max-width: 400px;
}

.block.grid {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    row-gap: 20px;

    margin: 0 auto;
}

.block__icon-container {
    width: 100%;
}

.block__icon {
    margin: 10px auto 20px;
}