<div class="container grid grid--1x2">
    <div class="container__image container__image-desktop"></div>
    <div class="articles grid">
      <article class="article article__text-left">
        <h3 class="article__header article__header-h3">Quick Search</h3>
        <p class="article__body article__body-sm">Easily search your snippets by content, category, web address, application, and more.</p>
      </article>
      <article class="article article__text-left">
        <h3 class="article__header article__header-h3">iCloud Sync</h3>
        <p class="article__body article__body-sm">Instantly saves and syncs snippets across all your devices.</p>
      </article>
      <article class="article article__text-left">
        <h3 class="article__header article__header-h3">Complete History</h3>
        <p class="article__body article__body-sm">Retrieve any snippets from the first moment you started using the app.</p>
      </article>
    </div>
</div>

  <div class="container">
    <div class="container__image container__image-devices"></div>
  </div>