<footer class="footer grid grid--1x3">
    <img class="footer__logo" src="./images/logo.svg" alt="Brand logo">
    <ul class="footer__links grid list">
      <li class="list__item">FAQs</li>
      <li class="list__item">Contact Us</li>
      <li class="list__item">Privacy Policy</li>
      <li class="list__item">Press Kit</li>
      <li class="list__item">Install Guide</li>
    </ul>
    <div class="attribution">
      <p>&copy; <a href="https://instagram.com/christopheriilajom">Christopher II</a></p>
    </div>
</footer>