<div class="grid image--gallery">
    <div class="image--gallery__container">
      <img class="image__logo" src="./images/logo-google.png" alt="Icon for Google">
    </div>
    <div class="image--gallery__container">
      <img class="image__logo" src="./images/logo-ibm.png" alt="Icon for IBM">
    </div>
    <div class="image--gallery__container">
      <img class="image__logo" src="./images/logo-microsoft.png" alt="Icon for Microsoft">
    </div>
    <div class="image--gallery__container">
      <img class="image__logo" src="./images/logo-hp.png" alt="Icon for HP">
    </div>
    <div class="image--gallery__container">
      <img class="image__logo" src="./images/logo-vector-graphics.png" alt="Icon for Vector Graphics">
    </div>
 </div>